extends ../layout

block title
    | 管理后台  

block banner

block content
    #admin
        ul#adminTab.nav.nav-tabs
            li.active
                a(href="#home",data-toggle="tab")
                    i.icon-dashboard
                    |#{site.name} 概览
            li
                a(href="#board",data-toggle="tab")
                    i.icon-hdd
                    |讨论节点
                    span.badge.pull-right #{boards.length}
            li
                a(href="#user",data-toggle="tab")
                    i.icon-user
                    |用户
                    span.badge.pull-right #{users.length}
            li
                a(href="#setting",data-toggle="tab")
                    i.icon-gears
                    |设置
        .tab-content
            #home.tab-pane.active
                .dash.clearfix
                    .dash-item.col-lg-12
                        i.icon-rocket.col-lg-2.label.label-success
                        .desc.col-lg-10 
                            h3.uptime #{config.name} 已建立 
                                != moment(config.created).fromNow(true)
                            .birthday #{config.name} 生于 
                                != moment(config.created).format('LLLL')
                                |，创始人是 #{users[0].nickname ? users[0].nickname : users[0].duoshuo.user_id}
                                - if (users[0].avatar)
                                    img(src="#{users[0].avatar}").avatar-micro
                    .dash-item.col-lg-12
                        i.icon-group.col-lg-2.label.label-info
                        .desc.col-lg-10 
                            h3.uptime 总用户数量 #{users.length} 人
                            //- .info 今日新增用户 1 人。管理员 1 人，版主 1 人
                    .dash-item.col-lg-12
                        i.icon-code-fork.col-lg-2.label.label-warning
                        .desc.col-lg-10 
                            h3.uptime 总讨论节点数量 #{boards.length} 个
                            //- .info 今日新增讨论节点 3 个
                    //- .dash-item.col-lg-12
                        i.icon-comments-alt.col-lg-2.label.label-danger
                        //- .desc.col-lg-10 
                            h3.uptime 总话题量 35 帖
                            //- .info 今日新增话题 35 帖
            #board.tab-pane(ng-controller="adminBoard")
                #board-dash.accordion
                    .accordion-group
                        .accordion-heading
                            a.accordion-toggle(href="#addBoard",data-parent="#board-dash",data-toggle="collapse") 
                                i.icon-plus-sign
                                |添加讨论节点
                        form#addBoard(name="addBoard").form-horizontal.accordion-body.collapse
                            .accordion-inner
                                .form-group
                                    label.col-lg-2.control-label 节点名称
                                    .col-lg-6
                                        input(type="text",ng-model="board.new.name").form-control
                                .form-group
                                    label.col-lg-2.control-label 节点URL
                                    .col-lg-6
                                        input(type="text",ng-model="board.new.url").form-control
                                .form-group
                                    label.col-lg-2.control-label 节点描述
                                    .col-lg-6
                                        textarea(ng-model="board.new.desc").form-control
                                .form-group
                                    .col-lg-offset-2.col-lg-10
                                      a(href="javascript:void(0);",ng-click="add()").btn.btn-success
                                        i(ng-class="btns.new.icon")
                                        |{{btns.new.text}}

                    .accordion-group
                        .accordion-heading
                            a.accordion-toggle(href="#board-list",data-parent="#board-dash",data-toggle="collapse") 
                                i.icon-th-list
                                |讨论节点列表
                        #board-list.board-list.clearfix.accordion-body.collapse.in
                            .accordion-inner
                                - if (boards && boards.length > 0)
                                    .list-group
                                        - each board in boards
                                            .list-group-item.board.clearfix(data-id="#{board.id}")
                                                span.name.col-lg-3
                                                    a(href="/board/#{board.url}") #{board.name}
                                                span.threads.col-lg-2 #{board.threads.length == 0 ? '暂无帖子': board.threads.length + '帖子'}
                                                span.desc.col-lg-6 #{board.desc}
                                                span.bz.col-lg-1
                                                    - each u in board.bz
                                                        - if (u.avatar)
                                                            img(src="#{u.avatar}",title="#{u.nickname ? u.nickname: u.duoshuo.user_id}")
                                                        - else
                                                            | #{u.nickname ? u.nickname: u.duoshuo.user_id}
                                - else 
                                    h3.no 
                                        i.icon-ban-circle
                                        |目前还没有任何讨论节点
            #user.tab-pane
                .list-group
                    - if (users)
                        - each user in users
                            .list-group-item.user.clearfix(data-id="#{user.id}")
                                - if (user.avatar)
                                    img.pull-left.avatar.thumbnail(src="#{user.avatar}")
                                span.name
                                    - if (user.url)
                                        a(href="#{user.url}",target="_blank") #{user.nickname ? user.nickname : user.duoshuo.user_id}
                                    - else
                                        |#{user.nickname ? user.nickname : user.duoshuo.user_id}
                                span.type
                                    | （#{user.type}）
                                span.threads
                                    |（发表话题数量：#{user.threads.length}）
            #setting.tab-pane(ng-controller="adminSetting")
                form(name="updateSetting").form-horizontal
                    .form-group
                        label.col-lg-2.control-label 站名
                        .col-lg-6
                            input(type="text",ng-model="setting.name",ng-init="setting.name='#{config.name}'").form-control
                    .form-group
                        label.col-lg-2.control-label 描述
                        .col-lg-6
                            textarea(ng-model="setting.desc",ng-init="setting.desc='#{config.desc}'").form-control
                    .form-group
                        label.col-lg-2.control-label 地址
                        .col-lg-6
                            input(type="text",ng-model="setting.url",ng-init="setting.url='#{config.url}'").form-control
                    .form-group
                        label.col-lg-2.control-label 多说 站名
                        .col-lg-6
                            input(type="text",ng-model="setting.duoshuo.short_name",ng-init="setting.duoshuo.short_name='#{config.duoshuo.short_name}'").form-control
                    .form-group
                        label.col-lg-2.control-label 多说 secret
                        .col-lg-6
                            input(type="text",ng-model="setting.duoshuo.secret",ng-init="setting.duoshuo.secret='#{config.duoshuo.secret}'").form-control
                    input(type="hidden",ng-model="setting._id",ng-init="setting._id='#{config.id}'")
                    .form-group
                        .col-lg-offset-2.col-lg-10
                          a(href="javascript:void(0);",ng-click="update()").btn.btn-success
                            i(ng-class="btns.edit.icon")
                            |{{btns.edit.text}}

block js
    script(src="/javascripts/admin.js")