extends ../layout

block content
    #admin
        ul#adminTab.nav.nav-tabs
            li
                a(href="#home",data-toggle="tab")
                    i.icon-dashboard
                    |面板首页
            li.active
                a(href="#board",data-toggle="tab")
                    i.icon-hdd
                    |板块管理
                    span.badge.pull-right #{boards.length}
            li
                a(href="#user",data-toggle="tab")
                    i.icon-user
                    |用户管理
                    span.badge.pull-right #{users.length}
            li
                a(href="#setting",data-toggle="tab")
                    i.icon-gears
                    |站点设置
        .tab-content
            #home.tab-pane
                .dash #{config.name} 生于 #{config.created}
            #board.tab-pane.active(ng-controller="candy.ctrlers.admin.board")
                #board-dash.accordion
                    .accordion-group
                        .accordion-heading
                            a.accordion-toggle(href="#addBoard",data-parent="#board-dash",data-toggle="collapse") 
                                i.icon-plus-sign
                                |添加板块
                        form#addBoard(name="addBoard").form-horizontal.accordion-body.collapse
                            .accordion-inner
                                .form-group
                                    label.col-lg-2.control-label 板块名称
                                    .col-lg-6
                                        input(type="text",ng-model="board.new.name").form-control
                                .form-group
                                    label.col-lg-2.control-label 板块URL
                                    .col-lg-6
                                        input(type="text",ng-model="board.new.url").form-control
                                .form-group
                                    label.col-lg-2.control-label 板块描述
                                    .col-lg-6
                                        textarea(ng-model="board.new.desc").form-control
                                .form-group
                                    .col-lg-offset-2.col-lg-10
                                      a(href="javascript:void(0);",ng-click="add()").btn.btn-success
                                        i(ng-class="btns.new.icon")
                                        |{{btns.new.text}}

                    .accordion-group
                        .accordion-heading
                            a.accordion-toggle(href="#board-list",data-parent="#board-dash",data-toggle="collapse") 
                                i.icon-th-list
                                |板块列表
                        #board-list.board-list.clearfix.accordion-body.collapse.in
                            .accordion-inner
                                - if (boards && boards.length > 0)
                                    .list-group
                                        - each board in boards
                                            .list-group-item.board.clearfix(data-id="#{board.id}")
                                                span.name.col-lg-3
                                                    a(href="/board/#{board.url}") #{board.name}
                                                span.threads.col-lg-2 #{board.threads.length == 0 ? '暂无帖子': board.threads.length + '帖子'}
                                                span.desc.col-lg-6 #{board.desc}
                                                span.bz.col-lg-1
                                                    - each u in board.bz
                                                        - if (u.avatar)
                                                            img(src="#{u.avatar}",title="#{u.nickname ? u.nickname: u.duoshuo.user_id}")
                                                        - else
                                                            | #{u.nickname ? u.nickname: u.duoshuo.user_id}
                                - else 
                                    h3.no 
                                        i.icon-ban-circle
                                        |目前还没有任何板块
            #user.tab-pane(ng-controller="candy.ctrlers.admin.user")
                .list-group
                    - if (users)
                        - each user in users
                            .list-group-item.user.clearfix(data-id="#{user.id}")
                                - if (user.avatar)
                                    img.pull-left.avatar.thumbnail(src="#{user.avatar}")
                                span.name
                                    - if (user.url)
                                        a(href="#{user.url}",target="_blank") #{user.nickname ? user.nickname : user.duoshuo.user_id}
                                    - else
                                        |#{user.nickname ? user.nickname : user.duoshuo.user_id}
                                span.type
                                    |#{user.type}
                                span.threads
                                    |#{user.threads.length}
            #setting.tab-pane(ng-controller="candy.ctrlers.admin.setting")
                form(name="updateSetting").form-horizontal
                    .form-group
                        label.col-lg-2.control-label 网站名称
                        .col-lg-6
                            input(type="text",ng-model="setting.name",ng-init="setting.name='#{config.name}'").form-control
                    .form-group
                        label.col-lg-2.control-label 网站描述
                        .col-lg-6
                            input(type="text",ng-model="setting.desc",ng-init="setting.desc='#{config.desc}'").form-control
                    .form-group
                        label.col-lg-2.control-label 网站地址
                        .col-lg-6
                            input(type="text",ng-model="setting.url",ng-init="setting.url='#{config.url}'").form-control
                    .form-group
                        label.col-lg-2.control-label 多说站名
                        .col-lg-6
                            input(type="text",ng-model="setting.duoshuo.short_name",ng-init="setting.duoshuo.short_name='#{config.duoshuo.short_name}'").form-control
                    .form-group
                        label.col-lg-2.control-label 多说 secret
                        .col-lg-6
                            input(type="text",ng-model="setting.duoshuo.secret",ng-init="setting.duoshuo.secret='#{config.duoshuo.secret}'").form-control
                    input(type="hidden",ng-model="setting._id",ng-init="setting._id='#{config.id}'")
                    .form-group
                        .col-lg-offset-2.col-lg-10
                          a(href="javascript:void(0);",ng-click="update()").btn.btn-success
                            i.icon-ok
                            |写好了

block js
    script(src="/javascripts/admin.js")