extends ../layout

block title
    | 编辑话题

block banner
  .banner.clearfix
        .inner.clearfix.container
           .row
              .col-lg-12
                  h2.title 
                    i.icon-edit
                    | 编辑话题「#{thread.name}」

block content
    #thread(ng-controller="candy.ctrlers.thread.edit").thread
        #edit.fn-clear
            form(name="createThread").form-horizontal
              .form-group
                label.col-lg-1.control-label 标题
                .col-lg-11
                    input(type="text",ng-model="thread.name",ng-init="thread.name='#{thread.name}'").form-control
              .form-group
                label.col-lg-1.control-label 内容
                .col-lg-11.editor
                    textarea.form-control(ng-init="thread.content='#{thread.content}'")
                        |#{thread.content}
              input(type="hidden",ng-model="thread.id",ng-init="thread.id='#{thread._id}'")
              .form-group
                .col-lg-offset-1.col-lg-11
                  a(href="javascript:void(0);",ng-click="update()").btn.btn-success
                    i.icon-ok 
                    | 写好了
                  a(href="#",ng-click="remove('#{thread._id}',$event)").remove.btn
                    i.icon-remove
                    | 删除此帖

block js
    //- editor
    link(href="/stylesheets/editor/editor.css",rel="stylesheet")
    script(src="/javascripts/lib/editor.js")
    //- thread ctrler
    script(src="/javascripts/thread.js")