extends ../layout

block title
    | 编辑话题

block banner
  .banner.clearfix
        .inner.clearfix.container
           .row
              .col-lg-12
                  h2.title 
                    i.icon-edit
                    | 编辑话题「#{thread.name}」

block main
    #thread(ng-controller="threadEditor").thread
      .col-lg-9
          #edit.fn-clear
              form(name="createThread").form-horizontal
                .form-group
                  label.col-lg-1.control-label 标题
                  .col-lg-11
                      input(type="text",ng-model="thread.name",ng-init="thread.name='#{thread.name}'").form-control
                .form-group
                  label.col-lg-1.control-label 内容
                  .col-lg-11.editor
                      textarea.form-control(ng-init="thread.content='#{thread.content}'")
                          |#{thread.content}
                .form-group.uploader-wrap
                  .col-lg-offset-1.col-lg-11
                    .uploader.clearfix
                      .btn.btn-default.fileinput-button.col-lg-2
                        i.icon-plus.icon-white
                        span 上传附件
                        input#fileupload(type="file",name="media")
                      #progress.col-lg-10.progress-striped.active.progress
                        .progress-bar(role="progressbar",aria-valuenow="45",aria-valuemin="0",aria-valuemax="100")
                    ul#files.files
                      - if (thread.media && thread.media.length > 0)
                        - each file in thread.media
                          li.list-group-item.single-file(ng-init="thread.media.push('#{file._id}')")
                            a(href="#{file.url}",target='_blank') #{file.name}
                input(type="hidden",ng-model="thread.id",ng-init="thread.id='#{thread._id}'")
      .col-lg-3
          .thread-submit.clearfix.side-cnt
              a(href="javascript:void(0);",ng-click="update()").btn.btn-success.submit
                i.icon-ok 
                | 修改好了
              a(href="javascript:void(0);",ng-click="remove('#{thread._id}')").remove.btn
                i.icon-remove
                | 删除此帖
          include ../signin

block js
    //- editor
    link(href="/stylesheets/editor/editor.css",rel="stylesheet")
    script(src="/javascripts/lib/editor.js")
    //- uploader
    link(href="/stylesheets/jquery.fileupload-ui.css",rel="stylesheet")
    script(src="/javascripts/upload/jquery.ui.widget.js")
    script(src="/javascripts/upload/jquery.iframe-transport.js")
    script(src="/javascripts/upload/jquery.fileupload.js")
    //- thread ctrler
    script(src="/javascripts/thread.js")