extends ../layout

block meta
    meta(name="keywords",content="#{thread.name},#{site.name}")
    meta(name="description",content="#{thread.content.substr(0,16)}")
    link(rel='stylesheet',href="/stylesheets/github.css")

block title
    | #{thread.name}  

block content
      .board.single-thread
        .pub-main.lz-board
            .single-pub.clearfix
                - if (thread.lz.avatar)
                    .avatar
                        a(href="/member/#{thread.lz.id}")
                            img(src="#{thread.lz.avatar}")
                h4.title #{thread.name}
                .author
                    span.name 
                        a(href="/member/#{thread.lz.id}") #{thread.lz.nickname ? thread.lz.nickname : thread.lz.duoshuo.user_id}
                    span.cat
                        i.icon-chevron-right
                        a(href="/board/#{thread.board.url}") #{thread.board.name}
                    i.icon-time
                    != moment(thread.pubdate).fromNow()
                    - if ((user && user._id == thread.lz._id) || user.type == 'admin') 
                        a(href="/thread/#{thread.id}/edit").edit
                            i.icon-edit
                            |编辑
                .desc!= marked(thread.content)
        .board-meta
            i.icon-eye-open
            span.views #{thread.views} 阅读
            i.icon-comment
            span.num.ds-thread-count(data-thread-key="#{thread.id}",data-count-type="comments")
                | 加载中...
            i.icon-weibo
            span.num.ds-thread-count(data-thread-key="#{thread.id}",data-count-type="weibo_reposts")
                | 加载中...
            i.icon-tumblr
            span.num.ds-thread-count(data-thread-key="#{thread.id}",data-count-type="qqt_reposts")
                | 加载中...
            - if (user && user._id == thread.lz._id)
                a(href="/thread/#{thread.id}/edit").edit
                    i.icon-edit
                    |编辑
        .comment-board
            include ../comment.jade

block sidebar
    include ../signin
    include ../widgets/search
    include ../widgets/ds-top-threads