extends ../layout

block content
      .board
        .pub-main.lz-board
            .single-pub.clearfix
                - if (thread.lz.avatar)
                    .avatar
                        a(href="/member/#{thread.lz.id}")
                            img(src="#{thread.lz.avatar}")
                h4.title #{thread.name}
                .author
                    span.name 
                        a(href="/member/#{thread.lz.id}") #{thread.lz.nickname ? thread.lz.nickname : thread.lz.duoshuo.user_id}
                    span.cat
                        i.icon-chevron-right
                        a(href="/board/#{thread.board.url}") #{thread.board.name}
                    i.icon-time
                    != moment(thread.pubdate).fromNow()
                .desc!= marked(thread.content)
        .board-meta
            span.views
                i.icon-eye-open
                | #{thread.views}
            span.num
                i.icon-comment
                | 128 跟帖
            span.add-com-btn
                i.icon-share-alt
                | 128 分享
        .comment-board
            include ../comment.jade