extends layout

block content
     .main-board.board.index-board
        - if (threads.length > 0)
            - each thread in threads
                .pub-main.lz-board
                    .single-pub.clearfix
                        .avatar
                            img(src="#{thread.lz.avatar}")
                        h4.title
                            a(href="/thread/#{thread.id}") #{thread.name}
                        .author
                            span.name #{thread.lz}
                            span.cat
                                i.icon-chevron-right
                                | #{thread.board.name}
                            i.icon-time
                            |#{thread.pubdate}
                    .board-meta.clearfix
                        span.views
                            i.icon-eye-open
                            | #{thread.views}
                        span.num
                            i.icon-comment
                            | 136
        - else
            h4.no
                i.icon-star
                | #{site.name} 好像是个刚创建的论坛， 想成为 
                a(href="/thread/new") 第一个发言 
                | 的人吗？
            //- .single-board.clearfix
            //-     .col-lg-3
            //-       .brief
            //-         h3.name 
            //-             a(href="/board/#{board.url}") #{board.name}
            //-             span.meta
            //-                 i.icon-star.first
            //-                 |345
            //-                 i.icon-user
            //-                 |345
            //-                 i.icon-comment
            //-                 |345
            //-         .desc #{board.desc}
            //-     .col-lg-9
            //-       ul.threads.clearfix
            //-         - if (thread)
            //-         - each thread,i in board.threads
            //-          - if (i <= 5)
            //-             li.clearfix.thread-title #{thread.title}
            //-                 img.avatar.fn-left(src="/demo.png")
            //-                 .meta.fn-right
            //-                     span.views
            //-                         i.icon-eye-open
            //-                         | 123
            //-                     span.comments
            //-                         i.icon-comments
            //-                         | 123