extends layout

block content
     .main-board.index-board.board
        - if (threads.length > 0)
            - each thread in threads
                .pub-main.lz-board
                    .single-pub.clearfix
                        - if (thread.lz.avatar)
                            .avatar
                                a(href="/member/#{thread.lz.id}")
                                    img(src="#{thread.lz.avatar}")
                        h4.title
                            a(href="/thread/#{thread.id}") #{thread.name}
                        .author
                            span.name 
                                a(href="/member/#{thread.lz.id}") #{thread.lz.nickname ? thread.lz.nickname : thread.lz.duoshuo.user_id}
                            span.cat
                                i.icon-chevron-right
                                a(href="/board/#{thread.board.url}") #{thread.board.name}
                            i.icon-time
                            != moment(thread.pubdate).fromNow()
                    .board-meta.clearfix
                        .views
                            i.icon-eye-open
                            | #{thread.views}
                        .num
                            a(href="/thread/#{thread.id}#comments")
                                i.icon-comment
                                span.num.ds-thread-count(data-thread-key="#{thread.id}",data-count-type="comments") 加载中...
        - else
            h4.no
                i.icon-star
                | #{site.name} 好像是个刚创建的论坛， 想成为 
                a(href="/thread/new") 第一个发言 
                | 的人吗？