doctype 5
html
  head
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    title #{site.name}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
        header
            #ihd.container.clearfix
                .row
                    .col-lg-9
                      #logo.clearfix.fn-left
                        h1.clearfix
                            a(href="/") #{site.name}
                                span.desc #{site.desc}
                    .col-lg-3
                        form#topSearch.search
                          .input-group(ng-controller="ctrlers.search")
                            input(type="text",ng-model="search.keyword").form-control
                            .input-group-btn
                                a.btn.btn-primary(href="#",ng-click="search()")
                                    i.icon-search
    block banner
    article#cnt
        #icnt.container.clearfix
          .row
            block content
            block sidebar
                .col-lg-3
                   - if (!user)
                        #signin.clearfix.side-cnt
                            h3.side-title 登录 #{site.name}
                            .ds-login.clearfix
                        #signin.clearfix.side-cnt
                            h3.side-title 登录 #{site.name}
                            .ds-login.clearfix
                        #signin.clearfix.side-cnt
                            h3.side-title 登录 #{site.name}
                            .ds-login.clearfix
                        #signin.clearfix.side-cnt
                            h3.side-title 赞助商广告
                            .ds-login.clearfix
                   - else 
                        #mime.clearfix.side-cnt
                            h3.side-title 欢迎回来
                                | , #{user.nickname ? user.nickname : user.duoshuo.user_id}
                            - if (user.avatar)
                                .avatar_container
                                    img(src="#{user.avatar}").avatar-mini.fn-right.img-thumbnail
                            ul.clearfix
                                li
                                    i.icon-angle-right
                                    a(href="/mime")
                                        | 我的 #{site.name}
                                li
                                    i.icon-angle-right
                                    a(href="/thread/new")
                                        |发帖子
                                li
                                    i.icon-angle-right
                                    a(href="#")
                                        | 我的关注
                                li
                                    i.icon-angle-right
                                    a(href="#").signout 登出
    block footer
      footer
        #ft.clearfix
            #ift.container.clearfix.copyright &copy; #{new Date().getFullYear()} 『#{site.name}』 #{site.desc} | Powered by 
                    a(href="https://github.com/turingou/tesla",title="npm install candy").candy #{sys.name} 
                    |@ #{sys.version}

    script(src="/javascripts/lib/jquery-1.10.2.min.js")
    script(src="/javascripts/lib/angular.min.js")
    script(src="/javascripts/lib/angular-resource.min.js")
    script(src="/javascripts/store.js")
    block js