doctype 5
html(ng-app="candy")
  head
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    title #{site.name}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
        header
            #ihd.container.clearfix
                .row
                    .col-lg-12
                      #logo.clearfix.fn-left
                        h1.clearfix
                            a(href="/") #{site.name}
                                span.desc #{site.desc}
    block banner
    article#cnt
        #icnt.container.clearfix
          .row
            .col-lg-9
                block content
            .col-lg-3
                block sidebar
                    include sidebar
    block footer
      footer
        #ft.clearfix
            #ift.container.clearfix.copyright &copy; #{new Date().getFullYear()} 『#{site.name}』 #{site.desc} | Powered by 
                    a(href="https://github.com/turingou/candy",title="npm install candy").candy #{sys.name} 
                    |@ #{sys.version}

    //- libs
    script(src="/javascripts/lib/jquery-1.10.2.min.js")
    script(src="/javascripts/lib/bootstrap.min.js")
    script(src="/javascripts/lib/angular.min.js")
    script(src="/javascripts/lib/angular-resource.min.js")
    //- angular app
    script(src="/javascripts/candy.js")
    script(src="/javascripts/store.js")
    //- duoshuo configs
    script.
        var duoshuoQuery = {
            short_name: "#{site.duoshuo.short_name}",
            sso: { 
               login: "#{href}/signin/",
               logout: "#{href}/signout/"
            }
        };
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = 'http://static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] 
            || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    //- custom js
    block js