doctype html
html(ng-app="candy")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(name="generator",content="#{sys.name}",version="#{sys.version}")
    block meta
        meta(name="keywords",content="#{site.name}")
        meta(name="description",content="#{site.desc}")
    title 
        block title
            |#{site.name}
    link(rel='shortcut icon',type="image/x-icon",href="/images/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/duoshuo.css')
    block css
  body
    block header
        #header(ng-controller="boards")
            #ihd.container.clearfix
                .row
                    .col-lg-2
                        #logo.clearfix.fn-left
                            h1.clearfix
                                a(href="/").logo #{site.name}
                                    span.desc #{site.desc}
                                //- a(ng-click="list()",href="#boards",ng-class="'open-' + open").boards-dropdown
                                    i(ng-class="arrow")
                    .col-lg-7
                        |boards here
                    .col-lg-3
                        .search-bar.clearfix
                            form(action="/search",method="POST")
                                input(type="text",name="search",id="search")
    block banner
        include banner
    #cnt
        #icnt.container.clearfix
          .row
              block main
                .col-lg-9
                    block content
                .col-lg-3.sidebar
                    block sidebar
                        include sidebar
    block footer
        #footer.footer
            #ft.clearfix
                #ift.container.clearfix.copyright &copy; #{new Date().getFullYear()} #{site.name} #{site.desc}. Powered by 
                    a(href="https://github.com/turingou/candy",title="npm install candy").candy #{sys.name} 
                    |@ #{sys.version}

    //- libs
    script(src="/javascripts/lib/jquery-1.10.2.min.js")
    script(src="/javascripts/lib/bootstrap.min.js")
    script(src="/javascripts/lib/angular.min.js")
    script(src="/javascripts/lib/angular-resource.min.js")
    //- angular app
    script(src="/javascripts/store.js")
    script(src="/javascripts/candy.js")
    //- duoshuo comments configs
    script.
        var duoshuoQuery = {
            short_name: "#{site.duoshuo.short_name}",
            theme: 'none',
            sso: { 
               login: "#{url}/signin",
               logout: "#{url}/signout"
            }
        };
    script(type="text/javascript",src="http://static.duoshuo.com/embed.js",charset="UTF-8",async)
    //- custom js
    block js