- if (user)
    #mime.clearfix.side-cnt
        h3.title 欢迎回来
            | , #{user.nickname ? user.nickname : user.duoshuo.user_id}
        - if (user.avatar)
            .avatar_container
                img(src="#{user.avatar}",alt="#{user.nickname ? user.nickname : user.duoshuo.user_id}",title="#{user.nickname ? user.nickname : user.duoshuo.user_id}").avatar-mini.fn-right
        ul.clearfix
            - if (user.type == 'admin')
                li
                    i.icon-angle-right
                    a(href="/admin")
                        | #{site.name} 管理后台
            li
                i.icon-angle-right
                a(href="/member/#{user._id}")
                    | 我的 #{site.name}
            //- li
            //-     i.icon-angle-right
            //-     a(href="/thread/new")
            //-         | 发表新话题
            //- li
            //-     i.icon-angle-right
            //-     a(href="#")
            //-         | 我的关注
            li
                i.icon-angle-right
                a(href="http://#{site.duoshuo.short_name}.duoshuo.com/logout/?sso=1&redirect_uri=#{href}/signout").signout 登出
- else
    #signin.clearfix.side-cnt
        h3.title 登录 #{site.name}
        .ds-login.clearfix