extends ../layout

block title
    | #{member.showname} @ #{site.name}

block banner
    .banner.clearfix
        .inner.clearfix.container
           .row
                .col-lg-12
                    img.avatar-mid.fn-left(src="#{member.avatar}").fn-left
                    h2.title #{member.showname}
                        span.admin #{member.role}
                        span.desc 
                            a(href="#{member.url}",target="_blank") #{member.url}

block content
    - if (freshman)
      #sync.clearfix.mime-block
        h3.syncing
            i.icon-spinner.icon-spin.icon-large 
            | 正在同步您的数据，请勿关闭本页面...
        .ds-demo.fn-clear.fn-hide
            .ds-thread
    - else 
        include ../recent

block sidebar
    include ../signin
    include ../widgets/search

block js
    - if (freshman)
        script.
            var duoshuoQuery = {
                short_name: "#{site.duoshuo.short_name}",
                sso: { 
                   login: "#{url}/signin/",
                   logout: "#{url}/signout/"
                }
            };
        script(type="text/javascript",src="http://static.duoshuo.com/embed.js",charset="UTF-8",async)
        script(src="/javascripts/mime.js")