extends ../layout

block banner
    .banner.clearfix
        .inner.clearfix.container
           .row
                .col-lg-9
                    h2.title 
                        i.icon-asterisk
                        |#{board.name}
                        span.desc #{board.desc} ( 共 #{board.threads.length} 个话题 )
                .col-lg-3
                    a.btn.btn-success.post(href="/thread/new?bid=#{board.id}").pull-right
                        i.icon-plus
                        | 发帖

block content
    .main-board.board.index-board
        - if (threads && threads.length > 0)
            - each thread in threads
                .pub-main.lz-board
                    .single-pub.clearfix
                        - if (thread.lz.avatar)
                            .avatar
                                a(href="/member/#{thread.lz.id}")
                                    img(src="#{thread.lz.avatar}")
                        h4.title
                            a(href="/thread/#{thread.id}") #{thread.name}
                        .author
                            span.name 
                                a(href="/member/#{thread.lz.id}") #{thread.lz.nickname ? thread.lz.nickname : thread.lz.duoshuo.user_id}
                            span.cat
                                i.icon-time
                                != moment(thread.pubdate).fromNow()
                    .board-meta.clearfix
                        .views
                            i.icon-eye-open
                            | #{thread.views}
                        .num
                            a(href="/thread/#{thread.id}#comments")
                                i.icon-comment
                                span.num.ds-thread-count(data-thread-key="#{thread.id}",data-count-type="comments") 加载中...
        - else 
            h4.no
                i.icon-ban-circle
                | 这个讨论区还没有人来过，想 
                a(href="/thread/new?bid=#{board.id}") 说点什么 
                | 吗？
