doctype 5
html
  head
    title #{site.name}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
        header
            #ihd.container_12.fn-clear
                #logo.grid_2
                    h1 
                     a(href="/") #{site.name}
                .slogan.grid_10
                    a.active-nav
                        | #{site.desc}
                        i.icon-circle-arrow-down
                    a.help
                        i.icon-question-sign
                    a.share-btn
                        i.icon-thumbs-up
        .hot-board-wrap
            .board-nav.container_12.fn-clear
                .share.grid_2
                    .s1
                        i.icon-cloud
                        span.desc Share ideas on clouds
                .nav-cnt.grid_10
                    ul.nav-bar.fn-clear
                        span
                            i.icon-chevron-right
                            |板块整合
                        li: a(href="#") 整合
                        li: a(href="#") 整合
                        li: a(href="#") 整合
                        li: a(href="#") 整合
                        li: a(href="#") 整合
    article#cnt
        #icnt.container_12.fn-clear
            block content
            block sidebar
    block footer
      footer
        #ft.fn-clear.container_12
            #ift.container_12.fn-clear
                .copyright.grid_12 &copy; #{new Date().getFullYear()} [#{site.name}] #{site.desc} | powered by 
                    a(href="https://github.com/turingou/tesla") #{sys.name} 
                    | @ #{sys.version}
    block js
        script.
            var duoshuoQuery = {
                short_name: "#{site.duoshuo.short_name}",
                sso: { 
                   login: "#{href}/signin/",
                   logout: "#{href}/signout/"
                }
            };
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = 'http://static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] 
                || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();